<a href="https://colab.research.google.com/github/Dhruvi0901/Machine-Learning/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1)Identifies Data Issues Missing Values, Duplicate Values and Remediate**
# **Them.**

In [ ]:
## import csv file
from google.colab import files
uploaded = files.upload()

Saving winequalityN.csv - winequalityN.csv.csv to winequalityN.csv - winequalityN.csv.csv

In [ ]:
## import libraries
import pandas as pd

In [ ]:
## read csv file
df = pd.read_csv('/content/winequalityN.csv - winequalityN.csv.csv')

In [ ]:
df.head()

    type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0  white            7.0              0.27  ...       0.45      8.8        6
1  white            6.3              0.30  ...       0.49      9.5        6
2  white            8.1              0.28  ...       0.44     10.1        6
3  white            7.2              0.23  ...       0.40      9.9        6
4  white            7.2              0.23  ...       0.40      9.9        6

[5 rows x 13 columns]

In [ ]:
df.shape

(6497, 13)

In [ ]:
## find the null values
df.isnull()

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     False          False             False  ...      False    False    False
1     False          False             False  ...      False    False    False
2     False          False             False  ...      False    False    False
3     False          False             False  ...      False    False    False
4     False          False             False  ...      False    False    False
...     ...            ...               ...  ...        ...      ...      ...
6492  False          False             False  ...      False    False    False
6493  False          False             False  ...       True    False    False
6494  False          False             False  ...      False    False    False
6495  False          False             False  ...      False    False    False
6496  False          False             False  ...      False    False    False

[6497 rows x 13 columns]

In [ ]:
## find total number of null values in each column
df.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [ ]:
## total null values in whole data set
df.isnull().sum().sum()

38

# **FILL NULL VALUES**

In [ ]:
## fill with 0
df1 = df.fillna(value = 0)
df1

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...       0.00     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [ ]:
df1.isnull().sum().sum()

0

In [ ]:
## fill the value with previous value
df2 = df.fillna(method = 'pad')
df2

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...       0.58     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [ ]:
## fill the null value with the mean of the column

df3 = df.fillna(value = df['fixed acidity'].mean())
df3

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...   0.450000      8.8        6
1     white            6.3             0.300  ...   0.490000      9.5        6
2     white            8.1             0.280  ...   0.440000     10.1        6
3     white            7.2             0.230  ...   0.400000      9.9        6
4     white            7.2             0.230  ...   0.400000      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...   0.580000     10.5        5
6493    red            5.9             0.550  ...   7.216579     11.2        6
6494    red            6.3             0.510  ...   0.750000     11.0        6
6495    red            5.9             0.645  ...   0.710000     10.2        5
6496    red            6.0             0.310  ...   0.660000     11.0        6

[6497 rows x 13 columns]

# **Dropna**

In [ ]:
df

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...        NaN     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [ ]:
df4 = df.dropna()
df4

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6491    red            6.8             0.620  ...       0.82      9.5        6
6492    red            6.2             0.600  ...       0.58     10.5        5
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6463 rows x 13 columns]

In [ ]:
## if all null then remove the row 
df5 = df.dropna(how='all')
df5

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...        NaN     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [ ]:
## if any null remove that row
df6 = df.dropna(how = 'any')
df6

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6491    red            6.8             0.620  ...       0.82      9.5        6
6492    red            6.2             0.600  ...       0.58     10.5        5
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6463 rows x 13 columns]

# **Replace**

In [ ]:
## replace the null value with any number
import numpy as np
df7 = df.replace(to_replace=np.nan,value = 67354)
df7

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
1     white        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
2     white        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
3     white        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
4     white        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        5
6493    red        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
6494    red        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6
6495    red        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        5
6496    red        (:,.2f)           (:,.2f)  ...    (:,.2f)  (:,.2f)        6

[6497 rows x 13 columns]

In [ ]:
## replace any value with any number
df8 = df.replace(to_replace=8.5, value = 9.5)
df8

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...        NaN     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

# **Interpolate**

In [ ]:
## fill the null values using interpolate(automatically fill the values linearly )
df['sulphates'] = df['sulphates'].interpolate(method = 'linear')
df

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...      0.450      8.8        6
1     white            6.3             0.300  ...      0.490      9.5        6
2     white            8.1             0.280  ...      0.440     10.1        6
3     white            7.2             0.230  ...      0.400      9.9        6
4     white            7.2             0.230  ...      0.400      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...      0.580     10.5        5
6493    red            5.9             0.550  ...      0.665     11.2        6
6494    red            6.3             0.510  ...      0.750     11.0        6
6495    red            5.9             0.645  ...      0.710     10.2        5
6496    red            6.0             0.310  ...      0.660     11.0        6

[6497 rows x 13 columns]

# **2)Identifies Types of Data and List Out Categorical and Numerical Data**

In [ ]:
df.dtypes

type                     object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

type                     object      --> categorical data,  
fixed acidity           float64      --> numeric data,       
volatile acidity        float64      --> numeric data,              
citric acid             float64      --> numeric data,             
residual sugar          float64      --> numeric data,         
chlorides               float64      --> numeric data,             
free sulfur dioxide     float64      --> numeric data,               
total sulfur dioxide    float64      --> numeric data,              
density                 float64      --> numeric data,             
pH                      float64      --> numeric data,               
sulphates               float64      --> numeric data,           
alcohol                 float64      --> numeric data,            
quality                   int64      --> numeric data

In [ ]:
df = pd.read_csv('/content/winequalityN.csv - winequalityN.csv.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB